.header {
    display: flex;
    align-items: center;
    background: #1976D2;
    height: 60px;
    min-height: 60px;
    padding: 0 40px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
    color: white;
}

@media (max-width: 767px) {
    .header {
        padding-left: 20px;
    }
}

.header__title {
    margin: 0;
    margin-left: 20px;
}

@media (max-width: 767px) {
    .header__title {
        font-size: 18px;
    }
}

.md-menu__wrapper {
    position: absolute;
    right: 1rem;
}