<header class="header">
  <a routerLink="/">
    <img class="header__logo" src="assets/img/logo.svg" width="50" height="50" alt="Logo Butterfly">
  </a>
  <h1 class="header__title">
    {{ title }}
  </h1>
  <div class="md-menu__wrapper">
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <a md-menu-item *ngFor="let item of menuItems" [routerLink]="item.route">
        <span>{{ item.title }}</span>
      </a>
    </md-menu>
  </div>
</header>