.footer {
    display: flex;
    align-items: center;
    background: #1976D2;
    height: 60px;
    min-height: 60px;
    padding: 0 40px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
    color: white;

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
}