.main-wrapper {
  position: relative;
  min-height: 100%;
}

.main {
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 0 auto;
  padding: 40px 0;
  padding-bottom: 90px;
}