<md-card class="item-card" *ngFor="let hero of heroes"  [routerLink]="['/detail', hero.id]">
    <md-card-header>
        <md-card-title>{{hero.name}}</md-card-title>
        <md-card-subtitle>{{hero.subtitle}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/img/{{hero.image}}" alt="">
    <p class="item-card__description">{{hero.description}}</p>
</md-card>