.item-card {
    display: inline-block;

    width: 300px;
    margin: 0 15px;
}

.item-card:hover {
    cursor: pointer;
}

.item-card img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.item-card__description {
    margin-bottom: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}