<div class="detail-wrapper">
    <div *ngIf="hero">
        <h2>"{{hero.name}}"</h2>
        <img src="assets/img/{{hero.image}}" alt="">
        <p><b><i>Латинское название:</i></b> {{hero.subtitle}}</p>
        <p><b><i>Семейство:</i></b> {{hero.description}}</p>
        <p><b><i>Ареал:</i></b> {{hero.range}}</p>
        <p><b><i>Признаки:</i></b> {{hero.evidence}}</p>
        <button md-button (click)="goBack()">Вернуться назад</button>
    </div>
</div>