@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: #fafafa;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #757575;
}
