<h1>Gleb Bigma</h1>
<h2>Junior Frontend Developer</h2>
<p>My name is Gleb Bigma, i'm 23.<br>In my work I use technology such as: HTML5, Pug(ex. Jade), CSS3, SCSS, Bootstrap (or Foundation), Flexbox, Jquery, Git and other cool things.</p>
<h4>Contacts:</h4>
<p>Personal site: <a href="http://glebbigma.com/" target="_blank">GlebBigma.com</a></p>
<p>Email: <a href="mailto:glebbigma@gmail.com">glebbigma@gmail.com</a></p>
<p>Skype: <a href="skype:crossfield.inc">crossfield.inc</a></p>